In [30]:
import pandas as pd
from sqlalchemy import create_engine, inspect
from sqlalchemy import MetaData, Table

In [31]:
engine = create_engine('sqlite:///database.sqlite')
connection = engine.connect()

In [32]:
table_names = engine.table_names()

In [33]:
print(table_names)

['BoardGames', 'bgg.ldaOut.top.documents', 'bgg.ldaOut.top.terms', 'bgg.ldaOut.topics', 'bgg.topics']

In [35]:
type(table_names)

list

In [51]:
table_names[4]

'bgg.topics'

In [60]:
df=pd.read_sql_query('Select * from BoardGames;', connection)
df.head()

,row_names,game.id,game.type,details.description,details.image,details.maxplayers,details.maxplaytime,details.minage,details.minplayers,details.minplaytime,...,stats.family.arcade.bayesaverage,stats.family.arcade.pos,stats.family.atarist.bayesaverage,stats.family.atarist.pos,stats.family.commodore64.bayesaverage,stats.family.commodore64.pos,stats.subtype.rpgitem.bayesaverage,stats.subtype.rpgitem.pos,stats.subtype.videogame.bayesaverage,stats.subtype.videogame.pos
0,1,1,boardgame,Die Macher is a game about seven sequential po...,//cf.geekdo-images.com/images/pic159509.jpg,5.0,240.0,14.0,3.0,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,boardgame,Dragonmaster is a trick-taking card game based...,//cf.geekdo-images.com/images/pic184174.jpg,4.0,30.0,12.0,3.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3,boardgame,"Part of the Knizia tile-laying trilogy, Samura...",//cf.geekdo-images.com/images/pic3211873.jpg,4.0,60.0,10.0,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4,boardgame,When you see the triangular box and the luxuri...,//cf.geekdo-images.com/images/pic285299.jpg,4.0,60.0,12.0,2.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,5,boardgame,"In Acquire, each player strategically invests ...",//cf.geekdo-images.com/images/pic342163.jpg,6.0,90.0,12.0,3.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
df.shape

(90400, 81)

In [62]:
for table in table_names:
    
    sql = f"SELECT * FROM [{table}];"
    df = pd.read_sql(sql, engine)
    df.head(10)
    
    print(f"The {table} table has {df.shape[0]} rows and {df.shape[1]} columns.")

The BoardGames table has 90400 rows and 81 columns.
The bgg.ldaOut.top.documents table has 288 rows and 4 columns.
The bgg.ldaOut.top.terms table has 250 rows and 4 columns.
The bgg.ldaOut.topics table has 29229 rows and 2 columns.
The bgg.topics table has 29313 rows and 74 columns.